body {
	background-color: black;
	font-family: Papyrus;
	color: white;
}

#heading {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	opacity: 0.8;
}

.navigation {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 40px 0px;
}

.navigation li{
	margin: 0px;
  padding: 0px 4%;
	font-size: 1rem;
	display:inline-block;
}

.navigation a {
	 color: white;
	 text-decoration: none;
	 cursor: pointer;
}

#socialmedia {
	border: 1px white solid;
	width: 300px;
	margin: 0 auto;
}

.socialmedialink {
	border: 1px white solid;
	height: 40px;
	width: 40px;
	display: inline-block;
}

#albums {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#albums img {
	width: 32%;
	height: auto;
	margin: 1% 0;
	border: double 1px white;
}

#photo {
	background-image: url("./shankaralogo2.jpeg");
	background-size: cover;
	height: 450px;
  width: 100%;
	position: fixed;
	z-index: -2;
	border: ;
}

img.background {
  background-size: cover;
  height: 100%;
	position: fixed;
  width: 100%;
  z-index: -2;
	opacity: 0.4;
}

.img-with-text {
	margin: 0 auto;
	width: 80%;
}

.gallery {
	box-sizing: border-box;
	display: block;
	margin-top: 40px;
	width: 100%;
	border-style: double;
}
