body {
	background-color: black;
	font-family: Papyrus;
	color: white;
	box-sizing: border-box;
	margin: 0;
}

p {
	padding-left: 10px;
}

h1 {
	font-size: 100px;
	width: 100%;
	text-align: center;
	color: white;
	margin: 0;
	padding-top: 20px;
	font-weight: 300;
}

#heading {
	display: block;
	width: 70%;
	max-width: 620px;
	margin: 0 auto;
	opacity: 0.8;
	height: auto;
	padding: 0;
}

#navigation-page {
	width: 100%;
	height: 600px;
	padding: 0;
	position: absolute;
	display: none;
}


#navigation-page ul {
	width: 100%;
	box-sizing: border-box;
	background-color: #000;
	padding: 0;
	margin-top: 55px;
}

#navigation-page li {
	border-bottom: 1px solid #DBBD5A;
	display:block;
	text-align: left;
	padding: 5px 0 0 5%;
	margin-top: 5px;
}

#navigation-page li:hover {
	background-color: #222;
}

#navigation-list {
	width: 100%;
	height: 40px;
	text-align: center;
	margin-top: 10px;
	padding: 5px 0 10px 0;
	border-top: 1px solid #DBBD5A;
	border-bottom: 1px solid #DBBD5A;
}

#navigation-list li {
	margin: 0;
  padding: 0 5%;
	font-size: 1rem;
	display:inline-block;
}

a {
	 color: white;
	 text-decoration: none;
	 cursor: pointer;
}

.nav-icon {
	border: 1px solid #DBBD5A;
	border-radius: 25%;
	box-sizing: border-box;
	height: 35px;
	width: auto;
	position: absolute;
	right: 2%;
	margin-top: 10px;
	opacity: 0.6;
	background-color: white;
}

nav img:hover {
	opacity: 0.4;
	cursor: pointer;
}

#nav-button {
	padding: 2px;
	display: none;
}

#socialmedialink {
	width: 260px;
	margin: 10px auto 80px auto;
	display: flex;
	justify-content: space-between;
	height: 40px;

}

#socialmedialink a {
	background-color: lightGrey;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

#socialmedialink img {
	width: auto;
	height: 25px;
	box-sizing: border-box;
}

#socialmedialink a:hover {
	background-color: #494949;
}

main {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

#albumsdiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.5rem;
	width: 90%;
}

.albumcover {
	width: 32%;
	height: 100%;
	margin: 1% 0;
	padding: 0;
	background-color: black;
	position: relative;
}

.albumcover img {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: 1px solid #222;
	vertical-align: middle;
	transition: opacity 0.5s;
}

.albumcover:hover .moreinfo {
	display: flex;
}

.albumcover:hover img {
	opacity: 0.3;
}

.moreinfo {
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

.moreinfo a {
	font-size: 1.5rem;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 3px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 3%;
	color: white;
	text-decoration: none;
}

.moreinfo a:hover {
	background-color: grey;
}


#photo {
	background-image: url("./shankaralogo2.jpeg");
	background-size: cover;
	height: 450px;
  width: 100%;
	position: fixed;
	z-index: -2;
	border: ;
}

img.background {
  background-size: cover;
	width: 100%;
  height: auto;
	position: fixed;
  z-index: -2;
	opacity: 0.2;
}

#mainbackground {
	background-size: cover;
	width: 100%;
  height: auto;
	position: fixed;
  z-index: -2;
	animation: fadebackground 8s 1 ease;
	opacity: 0.4;
}

@keyframes fadebackground {
  from {opacity: 0;}
  to {opacity: 0.4;}
}

.gallery {
	display: block;
	margin: 20px auto;
	width: 90%;
}

.gallery img {
	width: 100%;
	margin: 0 auto;
}

img.albumcover {
  height: 500px;
  width: 500px;
  z-index: -2;
	opacity: 0.7;
	margin-top: 40px;
	border-style: double;
}

.tracklist {
	display:inline-block;
	vertical-align: top;
	margin-top: 50px;
}

.tracklist li {
	margin-bottom: 40px;
}

.tracktime {
	display: inline-block;
	font-style: italic;
	opacity: 0.7;
}


@media only screen and (max-width: 880px) {

	h1 {
		font-size: 50px;
	}

	#navigation-list {
		display: block;
		padding: 0;
		margin: 0;
		position: absolute;
		border-top: none;
		border-bottom: none;
	}

	#navigation-list ul {
		display: none;
	}

	#nav-button {
		display: block;
	}

	.albuminfo img {
		display: none;
	}

}


@media only screen and (max-width: 425px) {

	h1 {
		font-size: 30px;
	}

	#heading {
		width: 90%;
		bottom: 0px;
	}

	#albumsdiv {
		justify-content: space-around;
	}

	#navigation-list {
		position: static;
	}

	.albumcover {
		width: 90%;
		margin: 20px auto;
	}

	.tracklist li {
		margin-bottom: 20px;
	}


}
